
   
body {
	font-family: Source San Pro, Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    color: #a88a4b;
    
}

h2, h3, h4, h5, h6 {
	font-family: Source San Pro, Arial, Helvetica, sans-serif;
}
header {
	background-color: white;
	color: #a88a4b;
}
header img {
	padding: 0.5em;
	margin: 0;
}
a {
	color: #a88a4b;
}
a:hover {
	text-decoration: white;
}
nav {
	background-color: black;
	border-bottom: 2px solid #a88a4b;
	padding: 1em;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	padding-right: 1em;
}
nav a {
	color: #a88a4b;
	font-weight: bold;
	text-decoration: none;
}
nav a:hover {
	color: white;
    font-weight: bold;
}


@media all and (min-width: 851px) {
  .main-content {
    position: relative;
    float: left;
  }
    
.layout-sidebar-first{    
    width: 10%;
    float: left;
    margin-left: 0;
    color: #a88a4b;
 }

.layout-content{
    width: 60%;
    margin-right: 0;
    margin-left: 10;
 }

.layout-sidebar-second{    
    width: 20%;
    display: flex; 
    float: right;
    margin-left: 0;    
    color: #a88a4b;
  }
}



footer {
    font-family: Source Sans Pro,Arial, Helvetica, sans-serif;
    background-color: white;
	color: #a88a4b;
	padding: 1em;
	margin-top: 3em;
	border-top: 2px solid black;
	clear: both;
}

